/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
body {
    font-family: 'Nunito', sans-serif;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(168, 148, 238)), to(rgb(248, 160, 223)));
    background-image: -o-linear-gradient(top left, rgb(168, 148, 238), rgb(248, 160, 223));
    background-image: linear-gradient(to bottom right, rgb(168, 148, 238), rgb(248, 160, 223));
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

        
.cal {
    position: relative;
    width: 90%;
    max-width: 350px; 
    padding: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.3);
            box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    background-color: #ffffff;
}

.tog {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
}
.tog.active {
    color: #333333;
}
.tog::before {
    content: ' ';
    height: 35px;
    width: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333333;
    z-index: -1;
}
.tog.active::before {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#display {
    width: 100%;
    /* Khôi phục chiều cao cũ 150px */
    height: 150px;
    display: block; 
    text-align: right;
    /* Căn giữa dòng chữ theo chiều dọc */
    line-height: 150px;
    font-size: 3rem;
    margin-bottom: 20px;
    overflow-x: auto;
    color: #0a1e23;
    white-space: nowrap;
    padding-right: 5px;
}
#display::-webkit-scrollbar {
    height: 3px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td {
    width: 25%;
    padding: 5px;
}

button {
    width: 100%;
    aspect-ratio: 1;
    border: 0;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
button:active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}

button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}
button.btn-n {
    background-color: #f0f3f7;
    color: #000;
}
button.btn-o {
    background-color: #ffd0fd;
    color: #f967f3;
}
button.btn-equal {
    background-color: #adf9e7;
    color: #000;
}

/*  */
.cal.dark {
    background-color: #071115;
}
#display {
    color: #f8fafd;
}
button#clear {
    background-color: #2d191e;
    color: #bd3740;
}
button.btn-n {
    background-color: #1b2f38;
    color: #f8fafb;
}
button.btn-o {
    background-color: #2e1f39;
    color: #aa00a4;
}
button.btn-equal {
    background-color: #223323;
    color: #ffffff;
}